.container-page {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

.avatar-text {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 10px;
    color: var(--dark);
    font-size: 16px;
}

.container-avatar {
    display: flex;
    gap: 7px;
    align-items: center;
}

.avatar {
    width: 40px;
    cursor: pointer;
}

.avatar-picked {
    width: 45px;
    cursor: pointer;
    border: 2px solid var(--red);
    border-radius: 50%;
    padding: 2px;
}

.btn {
    margin: 25px 0 0 0;
    background-color: var(--blue);
}