.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88vh;
}

.menu-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.menu {
    height: 100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin: 0 10px 0 0;
    border-radius: 8px;
}

.section-title {
    font-size: 25px;
    font-weight: 600;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.badge-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.avatar {
    width: 55px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.badge-online {
    position: absolute;
    bottom: 6px;
    right:-1px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #35a053;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.badge-off {
    position: absolute;
    bottom: 6px;
    right:-1px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}
